<form action="/BookCategories" method="POST">
    <div>
        <p>categoryId</p><input type="text" name="categoryId">
    </div><div>
        <p>categoryName</p><input type="text" name="categoryName">
    </div><div>
        <p>
            <input type="submit" name="submit" value="Submit">
        </p>
    </div>

</form>
<% items.forEach((item)=> {%> 
    <tr>   
      <td><%= item.category_Id %></td>
      <td> <%= item.category_Name %></td>
<td>   <form action="/delete/<%=item.regNo%>" method="POST">
         <input type="submit" value=Delete></form></td>
       <td>     <a href="/edit/<%=item.studentId%>">Edit</a></td>
        <br> </tr>
<% }); %>
