<form action="/books" method="POST">
<div>
    <p>bookid</p><input type="text" name="bookId">
</div>
<div>
    <p>title</p><input type="text" name="title">
</div>
<div>
    <p>publishingHouse</p><input type="text" name="publishingHouse">
</div>
<div>
    <p>dateOfPublication</p><input type="date" name="dateOfPublication">
</div>
<div>
    <p>author</p><input type="text" name="author">
</div>
<div>
    <p>pages</p><input type="number" name="pages">
</div>
<div>
    <input type="submit" name="submit" value="Submit">
</div>
</form>