<form action="" method="POST">
<div>
    <p>Reg:No</p><input type="text" name="regNo">
</div>
<div>
    <p>firstName</p><input type="text" name="regNo">
</div>
<div>
    <p>LastName</p><input type="text" name="regNo">
</div>
<div>
    <p>phoneNumber</p><input type="text" name="regNo">
</div>
<div>
    <p>emailAddress</p><input type="text" name="regNo">
</div>
<div>
    <p>Reg:No</p><input type="text" name="regNo">
</div>
<div>
    <input type="submit" name="regNo" value="Submit">
</div>
</form>