<%-include('partials/header')%>
<div>
    <form action="/">
   
    <input type="email" name="email" placeholder="Email Address">

    <input type="password" name="email" placeholder="Your A Password">

    <input type="submit" name="submit" >
    </form>
</div>
<%-include('partials/footer') %>