<%-include('partials/header')%>
<script src="index.ejs"></script>
<form action="/update/<%= item.id %>" method="POST">
    <input type="text" name="firstName" value="<%= item.firstName %>">
    <input type="submit" value="Update">
  </form>
  <%-include('partials/footer')%>